<a href="https://colab.research.google.com/github/jinuElsa/Data-Science/blob/main/exp4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from scipy import stats

In [16]:
movies_df=pd.read_csv("IMDb movies.csv")
#print the first few rows with headers
print(movies_df.head(3))

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0

[3 rows x 22 columns]

In [ ]:
#check nulldata

In [18]:
#descriptive statistic
print(movies_df.describe())

               year      duration  ...  reviews_from_users  reviews_from_critics
count  11734.000000  11734.000000  ...        11482.000000          10783.000000
mean    1946.426112     90.381285  ...           26.202230             13.831679
std       11.370853     24.784203  ...           54.691918             22.303291
min     1894.000000     43.000000  ...            1.000000              1.000000
25%     1938.000000     76.000000  ...            7.000000              3.000000
50%     1948.000000     88.000000  ...           13.000000              6.000000
75%     1956.000000    100.000000  ...           26.000000             14.000000
max     2001.000000    421.000000  ...         1605.000000            252.000000

[8 rows x 7 columns]

In [19]:
#check null data
print("null values:\n")
print(movies_df.isna())#same as movies_df.isnull().sum()
print(movies_df.isna().sum())
print("null values %s"%movies_df.isnull().values.any())
print("total null values %d"%movies_df.isna().sum().sum())
print(movies_df.describe())

null values:

       imdb_title_id  title  ...  reviews_from_users  reviews_from_critics
0              False  False  ...               False                 False
1              False  False  ...               False                 False
2              False  False  ...               False                 False
3              False  False  ...               False                 False
4              False  False  ...               False                 False
...              ...    ...  ...                 ...                   ...
11729          False  False  ...               False                 False
11730          False  False  ...               False                 False
11731          False  False  ...               False                 False
11732          False  False  ...               False                 False
11733          False  False  ...                True                  True

[11734 rows x 22 columns]
imdb_title_id                0
title                        0
original_title               0
year                         0
date_published               0
genre                        0
duration                     0
country                      0
language                   197
director                     2
writer                      39
production_company          50
actors                       2
description                101
avg_vote                     1
votes                        1
budget                    9555
usa_gross_income         11188
worlwide_gross_income    11231
metascore                11408
reviews_from_users         252
reviews_from_critics       951
dtype: int64
null values True
total null values 44978
               year      duration  ...  reviews_from_users  reviews_from_critics
count  11734.000000  11734.000000  ...        11482.000000          10783.000000
mean    1946.426112     90.381285  ...           26.202230             13.831679
std       11.370853     24.784203  ...           54.691918             22.303291
min     1894.000000     43.000000  ...            1.000000              1.000000
25%     1938.000000     76.000000  ...            7.000000              3.000000
50%     1948.000000     88.000000  ...           13.000000              6.000000
75%     1956.000000    100.000000  ...           26.000000             14.000000
max     2001.000000    421.000000  ...         1605.000000            252.000000

[8 rows x 7 columns]

In [20]:
print("null values: \n"), 
print(movies_df.isna())

null values:

       imdb_title_id  title  ...  reviews_from_users  reviews_from_critics
0              False  False  ...               False                 False
1              False  False  ...               False                 False
2              False  False  ...               False                 False
3              False  False  ...               False                 False
4              False  False  ...               False                 False
...              ...    ...  ...                 ...                   ...
11729          False  False  ...               False                 False
11730          False  False  ...               False                 False
11731          False  False  ...               False                 False
11732          False  False  ...               False                 False
11733          False  False  ...                True                  True

[11734 rows x 22 columns]