<a href="https://colab.research.google.com/github/jinuElsa/Data-Science/blob/main/experiment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean

In [ ]:
print(10>9)
print(10==9)
print(10<9)
print("boolean prgm with built in method bool()")
x=5
y=10 
print(bool(x==y))

True
False
False
boolean prgm with built in method bool()
False

Data Types

In [ ]:
s=1
print(type(s))
a="hello"
print(type(a))
b=[1,2]
print(type(b))
c={1:'apple',2:'orange'}
print(type(c))
d=True
print(type(d))
e=1.2
print(type(e))
f={"a","b"}
print(type(f))
g=()
print(type(g))
h=bytes()
print(type(h))
i=bytearray()
print(type(i))
j=range(4)
print(type(j))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>
<class 'float'>
<class 'set'>
<class 'tuple'>
<class 'bytes'>
<class 'bytearray'>
<class 'range'>

Function and return stmt

In [3]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

15
25
45

45

sets

In [4]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'orange', 'banana', 'apple'}

{'banana', 'orange', 'apple', 'cherry'}

{'apple', 'banana', 'cherry', 'orange'}

Tuple

In [5]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

dictionary

In [7]:
d={1:'jinu',2:'divya',3:'mca'}
print(d)

print("1st name is"+d[1])
print("2nd name is"+d[3])

print(d.keys())
print(d.values())

{1: 'jinu', 2: 'divya', 3: 'mca'}
1st name isjinu
2nd name ismca
dict_keys([1, 2, 3])
dict_values(['jinu', 'divya', 'mca'])